.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: #27742d;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: none;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #9E9E9E;
    color: #3c4042;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #6d6d6d;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #db1020;
    color: #ffd700;
}

.BuildControl .More {
    background-color: #27742d;
    color: #ffd700;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #ffd700;
    color: #db1020;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #ffd700;
    color: #27742d;
}